<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Gestion de Inventario</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link rel="icon" th:href="@{/images/logo.jpg}">
<script type="text/javascript" th:src="@{/js/modContenido.js}"></script>
</head>
<body>
	<main role="main">
		<nav class="navbar navbar-expand-lg navbar-dark"
			style="background-color: #3b5c94">
			<a class="navbar-brand"
				style="font-weight: 9px; font-family: sans-serif"> <img
				th:src="@{/images/logo.jpg}" width="50" height="50" /> Pesquera
				Morales
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02"
				style="font-family: sans-serif">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link" th:href="@{/inicio}"
						style="font-family: sans-serif">Inicio</a></li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/facturacion}" style="font-family: sans-serif">Facturación</a>
					</li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/consulta}" style="font-family: sans-serif">Consulta</a>
					</li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/acercaDe}" style="font-family: sans-serif">Acerca
							De</a></li>
				</ul>
			</div>
		</nav>

		<div class="container"
			style="margin-top: 2%; margin-bottom: 2%; font-family: sans-serif; text-align: center;">
			<div class="card" id="shadow">
				<div class="card-body" style="margin-bottom: 1%">
					<h1
						style="text-align: center; font-weight: bold; margin-bottom: 1%; margin-top: 1%;">
						Registro de Limpieza</h1>

					<hr style="color: #3b5c94; border: 1px solid" />

					<div class="container">
						<div class="col-sm-12 mx-auto text-center form p-4">
							<div class="px-2">
								<form th:action="@{/limpieza/crearLimpieza}" method="post">

									<div class="form-row">
										<div class="form-group col-sm">

											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroupPrepend">Id</span>
												</div>

												<input type="number" class="form-control" name="idLimpieza"
													placeholder="1~4294967295" min="1" max="4294967295"
													aria-describedby="inputGroupPrepend" required />
												<div class="invalid-feedback">Ingrese un número entero</div>

											</div>
										</div>
										<div class="form-group col-sm">
											<div class="input-group">
												<div class="input-group-prepend">

													<span class="input-group-text" id="inputGroupPrepend">Supervisor</span>
												</div>

												<select class="custom-select" id="inputGroupSelect01"
													required="required" name="idSupervisor">
													<option value="">Seleccione un Supervisor</option>
													<option th:each="supervisor : ${supervisores}"
														th:if="${supervisor.puesto == 'Supervisor'}"
														th:value="${supervisor.idEmpleado}"
														th:text="${supervisor.idEmpleado+', '+supervisor.nombre}" />
												</select>

											</div>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-sm">
											<div class="input-group">
												<div class="input-group-prepend">

													<span class="input-group-text" id="inputGroupPrepend">Hora
														Inicial</span>
												</div>

												<input type="time" name="horaInicial" min="08:00"
													max="18:00" class="form-control"
													placeholder="Seleccione una Hora" required="required">
												<div class="invalid-feedback">Ingrese una hora válida</div>

											</div>
										</div>
										<div class="form-group col-sm">
											<div class="input-group">
												<div class="input-group-prepend">

													<span class="input-group-text" id="inputGroupPrepend">Hora
														Final</span>
												</div>

												<input type="time" name="horaFinal" min="08:00" max="18:00"
													class="form-control" placeholder="Seleccione una Hora"
													required="required">
												<div class="invalid-feedback">Ingrese una hora válida</div>


											</div>
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-sm">



											<div class="form-check" style="margin-top: 6px;">

													<label class="radio-inline"> 
														<input type="radio" class="form-check-input" name="optradio" id="Limpio"
													onclick="hideShowContent()"> Cargamento
													Limpio
												</label> <label class="radio-inline"> 
												<input type="radio" name="optradio"
													id="Entero" required onclick="hideShowContent()">
													Cargamento Entero
												</label>
											</div>




										</div>
										<div class="form-group col-sm">











											<div class="input-group">
												<div class="input-group-prepend">

													<span class="input-group-text" id="inputGroupPrepend">Numero
														Empleados</span>
												</div>

												<input type="number" min="1"
													th:max="${#lists.size(empleados)}" class="form-control"
													placeholder="Número de Empleados" id="inputEmpleadoEntero">
													
												<div class="invalid-feedback">Ingrese un número</div>

												<input type="number" name="numEmpleados" min="0" max="0"
													class="form-control" placeholder="Número de Empleados"
													id="inputEmpleadoLimpio" value="0">
												<div class="invalid-feedback">Ingrese un número</div>


											</div>








										</div>
									</div>
									<div class="form-row">

										<div class="form-group col-sm">

											<span class="input-group-text" id="inputGroupPrepend"
												style="text-align: center;">Cargamentos</span>

											<div id="SelectLimpio">
												<select class="custom-select" size="5" multiple
													name="idCargamentos" id="selectLimpio">

													<option th:each="cargamento : ${cargamentos}"
														th:value="${cargamento.idCargamento}"
														th:if="${cargamento.limpieza.idLimpieza == 0 and cargamento.estado == 'Limpio'}"
														th:text="${'Id: '+cargamento.idCargamento+', 
													Pescado: '+cargamento.pescado.nombre+', 
													Calidad: '+cargamento.calidad+', 
													Estado: '+cargamento.estado+', 
													Peso(kg): '+cargamento.pesoGlobal}">
													</option>
												</select>
											</div>
											<div id="SelectEntero">
												<select class="custom-select" size="5" multiple
													name="idCargamentos" id="selectEntero">

													<option th:each="cargamento : ${cargamentos}"
														th:value="${cargamento.idCargamento}"
														th:if="${cargamento.limpieza.idLimpieza == 0 and cargamento.estado == 'Entero'}"
														th:text="${'Id: '+cargamento.idCargamento+', 
													Pescado: '+cargamento.pescado.nombre+', 
													Calidad: '+cargamento.calidad+', 
													Estado: '+cargamento.estado+', 
													Peso(kg): '+cargamento.pesoGlobal}">
												</select>


											</div>
											<div class="invalid-feedback">Ingrese un número</div>


										</div>
									</div>


									<button type="submit" class="button submit" name="guardar"
										style="margin-top: 3%">Guardar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!------------------------------------------------------------------------------------------------------------------------------------------->

		<script type="text/javascript">

    		document.getElementById("SelectEntero").style.display = "none";
    		document.getElementById("SelectLimpio").style.display = "none";
    		document.getElementById("inputEmpleadoEntero").style.display = "none";
    		
		</script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
			crossorigin="anonymous"></script>
	</main>
</body>
</html>
