@charset "UTF-8";

#shadow {
				border-color: #3b5c94;
				-webkit-box-shadow: 10px 10px 46px 7px rgba(133, 133, 133, 1);
				-moz-box-shadow: 10px 10px 46px 7px rgba(133, 133, 133, 1);
				box-shadow: 10px 10px 46px 7px rgba(133, 133, 133, 1);
}

.button {
				font-size: 18px;
				border: 1px solid #3b5c94;
				background-color: white;
				color: #3b5c94;
				transition-duration: 0.4s;
				border-radius: 4px;
				padding: 3px 12px;
}

.button:hover {
				background-color: #3b5c94;
				color: white;
}

.logout {
				font-size: 18px;
				border: 1px solid #3b5c94;
				background-color: white;
				color: #3b5c94;
				border-radius: 4px;
				padding: 3px 12px;
}



/*
form:before {
				content: '';
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.3);
				z-index: -1;
				border-radius: 10px;
}
*/